@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply relative flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6 bg-primary text-secondary;
}

section {
	@apply flex justify-center items-center flex-col;
}

h1 {
	@apply font-bold text-xl md:text-2xl;
}

h2 {
	@apply font-semibold text-lg md:text-xl;
}

.logo_text {
	@apply max-sm:hidden font-semibold text-lg text-secondary tracking-wide;
}

.form_input {
	@apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

.black_btn {
	@apply rounded-full border border-secondary bg-secondary py-1.5 px-5 text-primary transition-all hover:bg-primary hover:text-secondary text-center text-sm flex items-center justify-center;
}

.outline_btn {
	@apply rounded-full border border-secondary bg-transparent py-1.5 px-5 text-secondary transition-all hover:bg-secondary hover:text-primary text-center text-sm flex items-center justify-center;
}

.flex-center {
	@apply flex justify-center items-center;
}

.flex-start {
	@apply flex justify-start items-start;
}

.flex-end {
	@apply flex justify-end items-center;
}

.flex-between {
	@apply flex justify-between items-center;
}

.loader {
	transform: rotateZ(45deg);
	perspective: 1000px;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	color: #222;
	user-select: none;
}
.loader:before,
.loader:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	transform: rotateX(70deg);
	animation: 1s spin linear infinite;
}
.loader:after {
	color: #666666;
	transform: rotateY(70deg);
	animation-delay: 0.4s;
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}

@keyframes rotateccw {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes spin {
	0%,
	100% {
		box-shadow: 0.2em 0px 0 0px currentcolor;
	}
	12% {
		box-shadow: 0.2em 0.2em 0 0 currentcolor;
	}
	25% {
		box-shadow: 0 0.2em 0 0px currentcolor;
	}
	37% {
		box-shadow: -0.2em 0.2em 0 0 currentcolor;
	}
	50% {
		box-shadow: -0.2em 0 0 0 currentcolor;
	}
	62% {
		box-shadow: -0.2em -0.2em 0 0 currentcolor;
	}
	75% {
		box-shadow: 0px -0.2em 0 0 currentcolor;
	}
	87% {
		box-shadow: 0.2em -0.2em 0 0 currentcolor;
	}
}
